*{
	box-sizing: border-box;
	scroll-behavior: smooth;
	user-select: none;
	margin:0;
	padding: 0;
	transition: 0.5s !important;
	/*overflow-x: hidden;*/
}


/*The homepage starts here*/
 #homepage {
 	margin:0;
 	padding: 0;
	height:auto;
	width:100%;
}

.dark-navbar{
	background: rgba(10,10,10,0.8);
}

#homepage-columns-container{
	height:100%;
}

#homepage-text{
	text-transform: capitalize;
	font-weight: 500;
	font-size: 4em;
}

/*The Merchandise page begins here*/


/*The about us page starts here*/
#about_us .about-wrapper{
	min-height: auto;
	text-align: justify;
	font-family: squarepeg;
	font-size: 2.55em;
	background: url("assets/images/background3.jpg") rgba(240,240,240,0.4);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-blend-mode: overlay;
}

/*#about_us .about-wrapper-bg {
	background: url("assets/images/background3.jpg") rgba(240,240,240,0.4);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-blend-mode: overlay;
}*/

.about-wrapper a{
	color: #00539C;
}

/*The Contact page starts here*/
	#contact_page{
		/*background: url("assets/images/background6.svg") rgba(50,50,50,0.3);
		background-blend-mode: overlay;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;*/
		height: auto;
	}

	#contact_banner ul li{
		background: rgb(250, 251, 252);
		font-family: squarepeg;
		font-size: 2.5em;
	}

	#smiley_face{
		height: 1.5em;
		width:1.5em;
	}

	.facebook-text{
		color:#4682B4;
	}

	#media_wrapper{
		height:auto;
	}

	#back_to_top{
		transition: 2s !important;
		transition-timing-function: linear;
		color:#f8f9fa;
	}

	.backTop{
		position: fixed;
		display: block;
		bottom: 20px;
		width: 3em;
		height: 3em;
		right: 20px;
		z-index: 100;
		color: rgba(248, 249, 250, 0.7);
		background: rgba(220, 53, 69, 0.9);
		transition: .7s !important;
	}

	.backTop:hover{
		background: rgb(220, 53, 69);
		color:#ffffff;
	}

/*This below is for styling used generally*/
@font-face {
	font-family: ubuntu-regular;
	src: url(assets/fonts/Ubuntu-Condensed/UbuntuCondensed-Regular.ttf);
}

@font-face {
	font-family: squarepeg;
	src: url(assets/fonts/Squarepeg/SquarePeg-Regular.ttf);
}

.brand-name {
	background:linear-gradient(to right, #ff6363 0%, #333333 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
}

.brand-motto{
	color:#ff4343;
}

/*Responsive code starts here*/

@media screen and (max-width:319px){
	#homepage-text{
		font-size: 2.5em;
	}

}

/*The below code is for tablets*/
@media screen and (min-width: 768px){
	#homepage{
		height: 75vh;
	}
}	

/*The below code is for laptop screens alone*/
@media screen and (min-width:1200px){
	#homepage{
		height: 100vh;
	}
	#about_us .about-wrapper{
		min-height: 75vh;
		font-size: 2.75em;
	}
	#contact_page{
		min-height: 100vh;
	}
	.facebook-frame{
		min-height: 20vh;
	}
	.address-frame{
		min-height: 40vh;
	}
}

